@import 'Variables';

.DataComponent {
    text-align: left;
    border-collapse: collapse;
    width: 100%;

    & tr.DataComponent:nth-child(even) {
        background-color: rgba(0,0,50,.02);
    }

    & td, & th {
        border-width: 0px;
        padding: {
            top: $padding-vertical;
            bottom: $padding-vertical;
            left: $padding-horizontal;
            right: $padding-horizontal;
        }
    }
}

.CategoryHeader, .CategoryTotal {
    font-size: 0.85em;
    font-weight: bold;
}

.CategoryTotal  td {
    background-color: rgba(0,0,50,.05);
}

.CategoryHeader {
    border-bottom: {
        width: 1px;
        color: rgba(34,36,38,.1);
        style: solid;
    }

    & > th {
        padding-top: $padding-vertical * 4;
    }
}

.NumberField {
    text-align: right;
    white-space: nowrap;
}
