@import 'MediaQueries';

.GridRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    width: 100%;
}

@include smaller-than(mini) { .MiniBreak { flex-direction: column; } }
@include smaller-than(small) { .SmallBreak { flex-direction: column; } }
@include smaller-than(medium) { .MediumBreak { flex-direction: column; } }
@include smaller-than(large) { .LargeBreak { flex-direction: column; } }
@include smaller-than(huge) { .HugeBreak { flex-direction: column; } }
@include smaller-than(extra) { .ExtraBreak { flex-direction: column; } }