.GridCell {
    flex-grow: 1;
    flex-basis: 0%;
    background-color: rgba(255, 0, 0, 0.2);
    margin: {
        right: 3px;
        bottom: 3px;
    }
    padding: {
        top: 6px;
        bottom: 6px;
        left: 5px;
        right: 5px;
    }

    .Shrink {
        flex-grow: 0;
        flex-shrink: 1;
    }

    .NoWrap {
        white-space: nowrap;
    }
}

.InnerCell {
    padding: 0px;
    margin: 0px;
}