@import 'Variables';

.InputField {
    width: 100%;

    label {
        display: block;
    }

    input, select {
        display: block;
        width: 100%;
        line-height: 1.5;
        font-size: 1em;
        background-color: white;
        padding: {
            left: 3px;
            right: 3px;
        }
        border: {
            width: 1px;
            color: rgb(180, 180, 180);
            style: solid;
            radius: $border-radius;
        }
    }

    select {
        padding-top: 3px;
        padding-bottom: 4px;
    }
    //rgb(117, 117, 117);

    &.Error {
        input, select {
            border-color: #ca3c3c;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;        
        }

        span {
            display: block;
            background-color: #ca3c3c;
            padding: 3px;
            color: white;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}