@import 'Variables';

.InputField {
    label {
        display: block;
    }

    input {
        display: block;
        width: 100%;
        line-height: 1.5;
        font-size: 1em;
        padding: {
            left: 3px;
            right: 3px;
        }
        border: {
            width: 1px;
            color: rgb(180, 180, 180);
            style: solid;
            radius: $border-radius;
        }
    }

    &.Error {
        input {
            border-color: #ca3c3c;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;        
        }

        span {
            display: block;
            background-color: #ca3c3c;
            padding: 3px;
            color: white;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}